.experiencia {
  max-width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  background: #121214;
}

.experiencia .subtitulo {
  background: linear-gradient(to right, #91c4fb, #27415c);
  -webkit-background-clip: text; /* Para navegadores baseados em WebKit (Safari, Chrome, etc.) */
  -webkit-text-fill-color: transparent; /* Para navegadores baseados em WebKit (Safari, Chrome, etc.) */
}

.bloco {
  box-shadow: 2px 2px 4px rgba(9, 36, 64, 0.7);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
  background: #161618;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#27415c, #91c4fb);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #ffffff;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  color: #ffffff;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #ffffff;
  max-width: 60ch;
}

.empresa-habilidades {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

.empresa-habilidades .one {
  color: #ffffff;
  background-color: #092440;
}

.empresa-habilidades .two {
  background-color: #91c4fb;
}

.empresa-habilidades .three {
  color: #ffffff;

  background-color: #000000;
}

.empresa-habilidades .four {
  color: #ffffff;

  background-color: #909090;
}

.empresa-habilidades .five {
  background-color: #ffffff;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
