.header {
  background: #000000;
  max-width: 100%;
  padding: 8px 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introducao {
  background-color: #203852;
}
.introducao h1 {
  text-align: left;
  max-width: 70ch;
  color: #fff;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
  gap: 20px; /* Espaço entre as colunas */
}

.intro {
  margin-top: 40px;
  margin-left: 20px;
}

.menu {
  position: relative;
  width: 280px;
  height: 280px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .toggle {
  position: relative;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 2rem;
  cursor: pointer;
  transition: 1.25s;
  z-index: 5;
}
.menu.active .toggle {
  transform: rotate(360deg);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}
.menu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(360deg / 8 * var(--i)));
  transform-origin: 140px;
  scale: 0;
  transition-delay: calc(0.05s * var(--i));
}
.menu.active li {
  scale: 1;
}
.menu li a {
  position: relative;
  display: flex;
  transform: rotate(calc(360deg / -8 * var(--i)));
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.75rem;
  color: var(--clr);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.menu li:hover a {
  font-size: 2.5rem;
  box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}

.introducao span {
  color: #91c4fb;
}

.header img {
  margin-left: 24px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-bottom: 0;
}

.header-menu a {
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.header-menu a:hover {
  color: #27415c;
}

.header li {
  list-style: none;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header img {
    margin: 0;
  }
  .header button {
    margin: 0 !important;
  }
}

.introducao {
  margin: 0 auto;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slides img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #ffffff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #ffffff;
}
