body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #1d1d33 !important;
}

.header {
  background: #000000;
  max-width: 100%;
  padding: 8px 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-left: 24px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: 16px;
  margin-bottom: 0;
}

.header-menu a {
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.header-menu a:hover {
  color: #27415c;
}

.header li {
  list-style: none;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header img {
    margin: 0;
  }
  .header button {
    margin: 0 !important;
  }
}

.introducao {
  margin: 0 auto;
  width: 800px;
  height: 480px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slides img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #ffffff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #ffffff;
}
